{% extends "global/base.html" %}

{% block main %}
<main>
    <section id="Sobre" class="main">
        <div class="box container">
            <h2 class="noticias">ÚLTIMAS NOTÍCIAS!</h2>
            <div class="video-container row">
                <div class="col-md-5 mb-3">
                    <iframe src="https://www.youtube.com/embed/njOHedn9yek" frameborder="0" allowfullscreen class="w-100"></iframe>
                </div>
                <div class="col-md-5 mb-3">
                    <iframe src="https://www.youtube.com/embed/fY6QBgnL3Y4" frameborder="0" allowfullscreen class="w-100"></iframe>
                </div>
                <div class="col-md-5 mb-3">
                    <iframe src="https://www.youtube.com/embed/wfVd-P-bvcU" frameborder="0" allowfullscreen class="w-100"></iframe>
                </div>
                <div class="col-md-5 mb-3">
                    <iframe src="https://www.youtube.com/embed/TD5vrphAyfg" frameborder="0" allowfullscreen class="w-100"></iframe>
                </div>
            </div>

            <div class="text-noticias">
                <h3 id="mais_noticias">Para mais noticias:</h3>
                <a href="{% url 'blog' %}" class="cliqueaqui">Clique aqui</a><br><br><br>
            </div>

            <div id="comentariosgeral">
                <h3 class="comenta">Comentários:</h3>
                <textarea id="comentarioInput" class="form-control" placeholder="Escreva um comentário..."></textarea><br>
                <button onclick="adicionarComentario()">Comentar</button>
                <ul id="listaComentarios" class="list-unstyled"></ul>
            </div>
        </div>
    </section>
</main>
{% endblock main %}
