{% extends "global/base.html" %}

{% block main %}
    <section id="Converter" class="converter">
        <div class="converter">
            <h2>💱 Converter Dinheiro em Criptomoedas</h2>
            <p>Escolha uma criptomoeda e insira um valor em BRL para converter:</p>

            <label for="moeda">Escolha a moeda:</label>
            <select id="moeda">
                <option value="btc">Bitcoin (BTC)</option>
                <option value="eth">Ethereum (ETH)</option>
                <option value="ltc">Litecoin (LTC)</option>
                <option value="xrp">Ripple (XRP)</option>
            </select>
            <br>
            <label for="valor">Valor em Reais (BRL):</label>
            <input type="number" id="valor" placeholder="Digite o valor em BRL">

            <button onclick="converter()">Converter</button>

            <h3>Resultado:</h3>
            <p id="resultado">Insira o valor para ver o equivalente.</p>
        </div>
    </section>
    </main>

{% endblock main %}